<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/index.css" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.jquery.js" type="text/javascript"></script>

    <script src="/assets/js/index.js" type="text/javascript"></script>

    <title>Quiet Killer | Course Ratings</title>
  </head>

  <body>
    <h1 class="title">Quiet Killah</h1>
    <h2 class="subtitle">the course rater | <a href="/about">what?</a></h2>

    <div class="main-content">      
      <div class="best-worst-ticker"></div>
      <div class="about">
	<p>Quiet Killah is <b>the</b> course rater. Courses are rated on:</p>
	<p>
	  <ul>
	    <li>if there is class on Monday or Friday</li>
	    <li>if there is class on a weekend</li>
	    <li>hours per week in lecture</li>
	    <li>how early the class starts</li>
	    <li>professor availability</li>
	    <li>how many requirements the class fills</li>
	  </ul>
	</p>
	<p>The lower the score, the "better" the class!</p>
      </div>
    </div>

    <div class="class-collection"></div>
  </body>
</html>
