html {
	min-width: 930px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

.title {
	font-size: 175;
	letter-spacing: -15;
	margin-left: 5%;
	padding-top: 5%;
	color: #04373D;
}

.subtitle {
	margin-left: 10%;
	margin-top: -33px;
	letter-spacing: -1.2;
	color: #04373D;
}

.main-content {
	width: 100%;
	margin-left: 7%;
	margin-top: 1%;
}

#form {
    width: 720px;
}

.best-worst-ticker {
	font-weight: lighter;
	font-size: 24;
	width: 720px;
	text-align: right;
}

#text-input {
	font-size: 55;
	margin-top: -60px;
}

#submit_btn {
	font-size: 55;
	letter-spacing: -2;
	background-color: #04373D;
	color: white;
	width: 120;
}

.class-collection {
	margin-left: 10%;
	height: 100;
	overflow-y: scroll;
	font-size: 25;
	color: #04373D;
}

#text-input {
	color: #04373D;
	letter-spacing: -1;
	text-transform: lighter;
}

.rank {
	color: #32AAB8;
}

.rank-best {
	color: #2BCC5B;
}

.class-best {

}

.rank-worst {
	color: #CC2B2E;
}

.class-worst {

}

.tt-hint {
	font-size: 55;
	margin-top: -60px;
	color: grey;
	letter-spacing: -1;
}

.tt-dropdown-menu {
	font-size: 50;
	max-height: 300px;
	overflow-y: scroll;
	width: 100%;
	background-color: white;
	opacity: .95;
	border: 1px solid #333;
}
